
.output.txt.swp
build/

output.txt

fetch/.~lock.train_results.csv#

notes.txt

.~lock.train_results.xlsx#

fetch/__pycache__/model.cpython-310.pyc

fetch/tmp.txt

fetch/model_info.py

tmp_code.txt

~$train_results.xlsx

~$test_results.xlsx
